<template>
  <div class="hello">
    <button id="customButton" @click.prevent="open">Purchase</button>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      stripeInstance: {},
      t: 'hello'
    }
  },
  methods: {
    // open your stripe 
    open() {
      this.stripeInstance.open({
        name: 'Demo Site',
        description: '2 widgets',
        amount: 2000
      });
    },

    // Get your transaction token
    getToken(token) {
      axios.post('http://localhost:3000/charges&token=' + token.id)
           .then((res) => {
              console.log(res)
           })
           .catch((err) => {
              console.log(err)
           })
    }
  },
  mounted() {
    /**
     * Make At first Stripe Instance
     * @param  {[type]} {                   key: 'pk_test_BhCTiW2pGG0CfREq0sGuBdBJ',      image: 'https:      locale: 'auto',      token: (token [description]
     * @return {[type]}    [description]
     */
    this.stripeInstance = StripeCheckout.configure({
      key: 'pk_test_BhCTiW2pGG0CfREq0sGuBdBJ',
      image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
      locale: 'auto',
      token: (token) =>  {
       this.getToken(token)
      }
    });
  }
 }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
